<!DOCTYPE html>
<html>
    <head>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- production version, optimized for size and speed -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    </head>
    <body>
        <div id="app">
            <h1 class="titleCard">
                CoH Bingo image of some sort?
            </h1>
            <div class="" style="text-align: center; height: 50px; vertical-align: middle;">
                This is where the easily accessible "generate a new card (with seed)"
                button will go.
            </div>
            <div style="display: flex; flex-direction: row;">
                <div style="display: flex; flex-direction: column; flex:flex-shrink; width: 200px">
                    <div style="flex:auto; cursor:pointer; border-width: thin; border-style: solid; height: 120px" v-for="update in updateLog" :key="update.version"
                        @click="selectUpdate(update.version)">
                        <h2>{{ update.version }}</h2>
                        <p>{{ update.date }}</p>
                    </div>
                </div>
                <div style="flex:flex-grow;" id="displayUpdateDiv">
                    <h2>{{ displayedUpdate.title }}</h2>
                    <h4>{{ displayedUpdate.date }}</h4>
                    <h5>{{ displayedUpdate.version }}</h5>
                    <p>{{ displayedUpdate.summary }}</p>
                    <div v-for="change in displayedUpdate.changeLog" :key="change.id">
                        <button v-if="change.details !== '' && !change.isDisplayDetails" 
                            @click="toggleChangeDetails(displayedUpdate.version, change.id)">
                            >>
                        </button>
                        <button v-else-if="change.details !== '' && change.isDisplayDetails" 
                            @click="toggleChangeDetails(displayedUpdate.version, change.id)">
                            VV
                        </button>
                        <button v-else disabled="true">
                            --
                        </button>
                        <span>{{ change.summary }}</span>
                        <div v-if="change.isDisplayDetails">
                            {{ change.details }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="vueIndex.js" type="text/javascript"></script>
    </body>
</html>
